h1{
    text-align: center; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: brown;
 }
 h2{
     text-align: center; 
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     color:dodgerblue;
 }