<div class="center">
<input  type="file" (change)="onFileChange($event)" multiple="false"/>
<button  (click)="onGet()" [disabled]="!data">Get Data</button>
</div>
<div style="position: relative; top: 100px;">
<div *ngIf='!clear'>
    
<mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="LoanNo">
      <mat-header-cell *matHeaderCellDef class="headers" mat-sort-header> Loan No </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.loanNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="BorrowerName">
      <mat-header-cell *matHeaderCellDef class="headers" mat-sort-header> Borrower Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.borrowerName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef class="headers" mat-sort-header> DOB </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.dob | date: 'MM/dd/yyyy'}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="PropAddress">
      <mat-header-cell *matHeaderCellDef class="headers" mat-sort-header> Prop Address </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.propertyAddress}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="Cost">
      <mat-header-cell *matHeaderCellDef class="headers"> Cost </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.propertyValue}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FloodRisk">
        <mat-header-cell  *matHeaderCellDef class="headers"> Flood Risk </mat-header-cell>
        <mat-cell *matCellDef="let user" >{{user.floodRisk}}</mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div [hidden]='clear'>
<mat-paginator  [pageSizeOptions]="[5, 10, 20]" pageSize="5" showFirstLastButtons></mat-paginator>
    
</div>

<div class="error" *ngIf="errorMsg">
    {{errorMsg}}
</div>
</div>

